<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/landing_page.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <title>Welcome</title>
</head>

<body>
  <div class="full">

    <!-- <nav>
            <label class="logo">
                <img src="/static/assets/icons/logo.png" alt="">
            </label>
        </nav> -->

    <div class="header">
      <div class="logo">
        <img src="/static/assets/icons/logo.png" alt="" draggable="false"/>
      </div>
      <div class="home">
        <div class="dashboard">
          <img src="/static/assets/icons/home_48px.svg" alt="" draggable="false"/>
          <a href="#">Dashboard</a>
        </div>
        <div class="Myaccount">
          <img src="/static/assets/icons/test_account_48px.svg" alt="" draggable="false"/>
          <a href="#">My Account</a>
        </div>
        <button class="createbtn">Login</button>
      </div>
    </div>

    <div class="image">
      <img src="/static/assets/images/landing-page.svg" alt="" draggable="false">
    </div>

    <div class="content">
      <h1>Get Things Done <br> With Personal Planner</h1>
    </div>

    <div class="para">
      <p>With Personal Planner you can manage your tasks <br> on the go. Sign up to get started. </p>
    </div>

    <div class="startbtn">
      <button> Get Started <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>

      </button>

    </div>

  </div>
</body>

</html>