{% extends 'base.html' %}   
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock stylesheet %}
{% block title %}
    Dashboard
{% endblock title %}
{% block content %}
    <div class="full">
        <h4>PERSONAL DASHBOARD</h4>
          
        
        
        <div class="box">   
            <div class="box2">
                {% for todo in alltodo %}
                    <li>
                        
                        <img src="/static/assets/icons/todo_list_48px.svg" alt=""><br>
                        <button class="today-btn"> {{todo.title}} </button>
                     
                    </li>

                    {% endfor %}
                    <li>
                        <img src="/static/assets/icons/todo_list_48px.svg" alt=""><br>
                        <button class="inbox-btn"> Inbox</button>
                     
                    </li>
            
                    <li>
                        <img src="/static/assets/icons/add_list_48px.svg" alt=""><br>
                        <button class="modal-btn"> Create New Project</button>
                        
                    </li>
                
            </div>
        </div>
    </div>

    <div>
    <form action="/dashboard" method="POST">
    <div class="modal-bg">
        <div class="modal">
            <h2>NEW PROJECT</h2>
            <label for="name">Name of Project</label>
            <input type="text" name="title" id="">
            <button type="submit" class="modalbtn">Done</button>
            <span class="modal-close">X</span>
        </div>
    </div>
    </form>
    </div>

        <script src="../static/js/dashboard.js"></script>
{% endblock content %}     