<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body class="full">
    <section class="left">
        <img src="./Python_project_resources/icons/logo.png" alt="">
    </section>  
    <div class="right">
        <div class="login-container">
            <div class="signup">
                <button class="signup">Sign Up</button>
            </div>
            <h2>Login to continue</h2>
            <form action="">
                <div class="email">
                    <img src="./Python_project_resources/icons/envelope_48px.svg" alt="">
                    <input type="text" name="" id="" placeholder="Email">
                </div>
                <div class="password">
                    <img src="./Python_project_resources/icons/password_48px.svg" alt="">
                    <input type="text" name="" id="" placeholder="Password">
                </div>
                <button class="login-btn">Log In</button>
                <div class="forgot">
                    <div></div>
                    <div>
                        <a  href="">Forgot Password?</a>
                    </div>
                </div>
                <div class="strike">
                    <hr>
                    <p>OR</p>
                    <hr>
                </div>
                <div class="google">
                    <a href="">
                        <img src="./Python_project_resources/icons/google_48px.svg" alt="">
                        <p>Log In with Google</p>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>