<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="my_account.css">
    <title>My Account</title>
</head>

<body class="full">
    <div class="header">
        <div class="logo">
            <img src="./Python_project_resources/icons/logo.png" alt="">
        </div>
        <div class="home">
            <div class="dashboard">
                <img src="./Python_project_resources/icons/home_48px.svg" alt="">
                <a href="">Dashboard</a>
            </div>
            <div class="logout">
                <img src="./Python_project_resources/icons/exit_48px.svg" alt="">
                <a href="">Logout</a>
            </div>
        </div>
    </div>
    <h1>MY ACCOUNT</h1>
    <div class="edit">
        <div class="title">
            <img src="./Python_project_resources/icons/edit-profile_48px.svg" alt="">
            <h2>EDIT PROFILE</h2>
        </div>
        <form action="">
            <div class="details">
                <div class="name">
                    <label for="">Name</label>
                    <input type="text">
                </div>
                <div class="email">
                    <label for="">Email Address</label>
                    <input type="text">
                </div>
                <div class="password">
                    <label for="">Password</label>
                    <input type="text">
                </div>
            </div>
            <button>Done</button>
        </form>
    </div>

</body>

</html>