<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/signup.css" />
    <title>Sign Up</title>
  </head>
  <body class="full">
    <section class="left">
      <img src="/static/assets/icons/logo.png" alt="" />
    </section>
    <section class="right">
      <div class="login-container">
        <div class="signup">
          <button class="signup">Log In</button>
        </div>
        <h2>Sign Up to join</h2>
        <form action="">
          <div class="name">
            <img src="/static/assets/icons/test_account_48px.svg" alt="" />
            <input type="text" name="" id="" placeholder="Name" />
          </div>
          <div class="email">
            <img src="/static/assets/icons/envelope_48px.svg" alt="" />
            <input type="text" name="" id="" placeholder="Email" />
          </div>
          <div class="password">
            <img src="/static/assets/icons/password_48px.svg" alt="" />
            <input type="text" name="" id="" placeholder="Password" />
          </div>
          <button class="login-btn">Sign Up</button>
          <div class="strike">
            <hr />
            <p>OR</p>
            <hr />
          </div>
          <div class="google">
            <a href="">
              <img src="/static/assets/icons/google_48px.svg" alt="" />
              <p>Sign Up with Google</p>
            </a>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
