{% extends 'base.html' %} {% block stylesheet %}
<link rel="stylesheet" href="/static/css/dashboard.css" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
  rel="stylesheet"
/>
{% endblock stylesheet %} {% block title %} Dashboard {% endblock title %} 
{%block content %}
<div class="enable">
  {% block actionurl %} {{url_for('search')}} {% endblock actionurl %}
</div>

<div class="full">
  <h4>PERSONAL DASHBOARD</h4>

  <div class="box">
    <div class="box2">
      {% if found_list %}

      <li>
        <div class="modifying-icons">
          <!-- <a href="/update/{{todos.sno}}"
            ><img class="edit" src="/static/assets/icons/edit_48px.svg" alt=""
          /></a> -->

          <a href="/delete/{{todos.sno}}"
            ><img
              class="delete"
              src="/static/assets/icons/trash_48px.svg"
              alt=""
          /></a>
        </div>
        <a href="{{url_for('tasks',project=todos.title.lower())}}">
          <img src="/static/assets/icons/todo_list_48px.svg" alt="" /><br />
          <button class="today-btn">{{todos.title}}</button>
        </a>
      </li>
      {% else %} {% for todos in allTodo %}
      <li>
        <div class="modifying-icons">
          <!-- <a href="/update/{{todos.sno}}"
            ><img class="edit" src="/static/assets/icons/edit_48px.svg" alt=""
          /></a> -->

          <a href="/delete/{{todos.sno}}"
            ><img
              class="delete"
              src="/static/assets/icons/trash_48px.svg"
              alt=""
          /></a>
        </div>
        <a href="{{url_for('tasks',project=todos.title.lower())}}">
          <img src="/static/assets/icons/todo_list_48px.svg" alt="" /><br />
          <button class="today-btn">{{todos.title}}</button>
        </a>
      </li>

      {% endfor %} {% endif %}

      <li class="new-project-box">
        <img src="/static/assets/icons/add_list_48px.svg" alt="" /><br />
        <button class="modal-btn">Create New Project</button>
      </li>
    </div>
  </div>
</div>

<div>
  <form action="/dashboard" method="POST">
    <div class="modal-bg">
      <div class="modal">
        <h2>NEW PROJECT</h2>
        <label for="name">Name of Project</label>
        <input type="text" name="title" id="" />
        <button type="submit" class="modalbtn">Done</button>
        <span class="modal-close">X</span>
      </div>
    </div>
  </form>
</div>

<script>
  var modalBtn = document.querySelector('.new-project-box');
  var modalBg = document.querySelector('.modal-bg');
  var modalClose = document.querySelector('.modal-close');
  var modalBTN = document.querySelector('.modalbtn');

  modalBtn.addEventListener('click', function () {
    modalBg.classList.add('bg-active');
  });

  modalClose.addEventListener('click', function () {
    modalBg.classList.remove('bg-active');
  });

  modalBTN.addEventListener('click', function () {
    modalBg.classList.remove('bg-active');
  });
</script>
{% endblock content %}
