{% extends 'base.html' %} {% block stylesheet %}
<link rel="stylesheet" href="/static/css/dashboard.css" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
  rel="stylesheet"
/>
{% endblock stylesheet %} {% block title %} Send Mail {% endblock title %} 
{%block content %}

<div>
    <form action="", method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.email.label }}<br>{{ form.email }}</p>
        <p>{{ form.submit() }}</p>
    </form>

</div>
{% endblock content %} 