{% extends 'base.html' %} {% block stylesheet %}
<link rel="stylesheet" href="/static/css/task.css" />
{% endblock stylesheet %} {% block title %} My Tasks {% endblock title %}
{% block new_nav_link %}

<div class="disable">
{% block actionurl %}
  {{url_for('searchtask',project=project)}}
{% endblock actionurl %}
</div>

<div class="navbar-items navbar-account">
  <img
    src="{{url_for('static',filename='assets/icons/home_48px.svg')}}"
    alt=""
    draggable="false"
  />
  <a href="{{url_for('dashboard')}}">Dashboard</a>
</div>
{% endblock new_nav_link %}
{%block content %}
<h1 class="taskpage-header">{{project}}</h1>


{% if found_list %}

<button class="createnew tasklist">
  <span>
    <a href="/complete/{{project}}/{{todo.sno}}"
      ><img
        class="add-icon task-icon"
        src="/static/assets/icons/round_50px.svg"
        alt="" /></a
    ><span class="btn-text">{{todo.title}}</span></span
  >
  <span class="btn-wrapper">
    <div class="btn">
      <img src="/static/assets/icons/trash_48px.svg" alt="" />
      <a href="/delete/{{project}}/{{todo.sno}}">Delete</a>
    </div>
    <div class="btn">
      <img src="/static/assets/icons/edit_48px.svg" alt="" />
      <a href='/update/{{project}}/{{todo.sno}}'>Update</a>
    </div>
    <!-- <div class="btn">
      <img src="/static/assets/icons/schedule_48px.svg" alt="" />
      <a>Schedule</a>
    </div> -->
  </span>
</button>

{% if complete|length>0 %}
<br>
<h2 style="text-align: center;">Completed Tasks</h2>
{% for todo in complete %}
<button class="createnew tasklist">
  <span>
    <a href="/incomplete/{{project}}/{{todo.sno}}"
      ><img
        class="add-icon task-icon"
        src="/static/assets/icons/round_50px.svg"
        alt="" /></a
    ><span class="btn-text" style="text-decoration: line-through"
      >{{todo.title}}</span
    ></span
  >
  <span class="btn-wrapper">
    <div class="btn">
      <img src="/static/assets/icons/trash_48px.svg" alt="" />
      <a href="/delete/{{project}}/{{todo.sno}}">Delete</a>
    </div>
    <!-- <div class="btn">
        <img src="/static/assets/icons/schedule_48px.svg" alt="" />
        <a>Schedule</a>
      </div> -->
  </span>
</button>
{% endfor %} {% endif %}

{% else %}

{% for todo in incomplete %}
<button class="createnew tasklist">
  <span>
    <a href="/complete/{{project}}/{{todo.sno}}"
      ><img
        class="add-icon task-icon"
        src="/static/assets/icons/round_50px.svg"
        alt="" /></a
    ><span class="btn-text">{{todo.title}}</span></span
  >
  <span class="btn-wrapper">
    <div class="btn">
      <img src="/static/assets/icons/trash_48px.svg" alt="" />
      <a href="/delete/{{project}}/{{todo.sno}}">Delete</a>
    </div>
    <div class="btn">
      <img src="/static/assets/icons/edit_48px.svg" alt="" />
      <a href='/update/{{project}}/{{todo.sno}}'>Update</a>
    </div>
    <!-- <div class="btn">
      <img src="/static/assets/icons/schedule_48px.svg" alt="" />
      <a>Schedule</a>
    </div> -->
  </span>
</button>
{% endfor %}
{% endif %}

<button
  class="createnew new-create-style"
  onclick="document.getElementById('id01').style.display='block'"
>
  <span>
    <img
      class="add-icon"
      src="/static/assets/icons/add_48px.svg"
      alt="" /></span
  >Create a new task
</button>

{% if complete|length>0 %}
<br>
<h2 style="text-align: center;">Completed Tasks</h2>
{% for todo in complete %}
<button class="createnew tasklist">
  <span>
    <a href="/incomplete/{{project}}/{{todo.sno}}"
      ><img
        class="add-icon task-icon"
        src="/static/assets/icons/round_50px.svg"
        alt="" /></a
    ><span class="btn-text" style="text-decoration: line-through"
      >{{todo.title}}</span
    ></span
  >
  <span class="btn-wrapper">
    <div class="btn">
      <img src="/static/assets/icons/trash_48px.svg" alt="" />
      <a href="/delete/{{project}}/{{todo.sno}}">Delete</a>
    </div>
    <!-- <div class="btn">
        <img src="/static/assets/icons/schedule_48px.svg" alt="" />
        <a>Schedule</a>
      </div> -->
  </span>
</button>
{% endfor %} {% endif %}

<div id="id01" class="addtaskwindow">
  <button
    onclick="document.getElementById('id01').style.display='none'"
    class="modal-close"
  >
    &times;
  </button>
  <h2 class="modal-header">Add New Task</h2>
  <div>
    <form action="/tasks/{{project}}" method="POST">
      <input type="text" name="title" id="" class="taskname-holder" />
      <br />
      <input
        type="submit"
        name=""
        id=""
        value="Add Task"
        class="taskname-submit"
      />
    </form>
  </div>
</div>
{% endblock content %}
